.header-container {
    background-color: rgb(54,54,54);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 8px rgb(65, 65, 65);
}
.header-container h1{
    margin-right: auto;
    margin-left: 20px;
    color: white;
}
.header-container button {
    height: 50px;
    margin-right: 20px;
}

.header-container .abort {
    background-color: red;
}