.header-container {
    background-color: rgb(54,54,54);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-container h1{
    margin-right: auto;
    margin-left: 20px;
    color: white;
}
.header-container button {
    height: 50px;
    margin-right: 20px;
}

.header-container .abort {
    background-color: red;
}