.header-container {
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-container h1{
    margin-right: auto;
    margin-left: 20px;
}
.header-container button {
    height: 50px;
    margin-right: 20px;
}